.title {
  margin: 128px 0 156px;
  text-align: center;
  /* font-family: Inter; */
  font-size: 56px;
  font-weight: 600;
  line-height: 120%;
}
.title span {
  color: #7d7d7d;
}
.text {
  margin-top: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #7d7d7d;
}
