.hero {
  margin-left: 80px;
  margin-bottom: 160px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.left {
  /* display: flex;
  justify-content: space-between;
  align-items: flex-start; */
}
.heroNew {
  position: relative;
  padding: 0 80px;
  /* background: #e6e6e6; */
  background-image: url(./images/bgHead.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
